# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. matplotlib
4. scikit-learn (sklearn)

| Data Science Tools       |
|--------------------------|
| Development Environment  |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| VSCode with Python       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
min=200
hrs=min/60
hrs

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Demonstrate creating tables in Markdown.

## Author
Aditya Kumar Dwivedee